/build/resources/main/messages_de.properties
/build/resources/main/messages_ja.properties
/build/resources/main/layouts/main.gsp
/build/resources/main/application.yml
/build/tmp/integrationTest/jar_extract_3240487343325485933_tmp
/build/resources/main/messages_es.properties
/build/reports/tests/packages/ru.qilnet.sf.html
/build/resources/main/messages_zh_CN.properties
/build/resources/main/messages_cs_CZ.properties
/build/reports/tests/classes/ru.qilnet.sf.UserIntegrationSpec.html
/build/classes/main/ru/qilnet/UrlMappings$__clinit__closure1$_closure2.class
/build/reports/tests/css/base-style.css
/build/resources/main/messages_pt_PT.properties
/build/resources/main/messages_nl.properties
/build/resources/main/spring/resources.groovy
/build/test-results/binary/integrationTest/results.bin
/build/tmp/integrationTest/jar_extract_7689750372043990749_tmp
/build/classes/main/ru/qilnet/UrlMappings$__clinit__closure1$_closure2$_closure3.class
/build/resources/main/messages.properties
/build/resources/main/messages_pl.properties
/build/resources/main/index.gsp
/build/resources/main/error.gsp
/build/classes/main/ru/qilnet/UrlMappings$__clinit__closure1.class
/build/resources/main/messages_fr.properties
/build/tmp/integrationTest/jar_extract_8203696838430136228_tmp
/build/tmp/integrationTest/jar_extract_71636903663734555_tmp
/build/reports/tests/css/style.css
/build/classes/test/ru/qilnet/sf/ProfileSpec.class
/build/resources/main/messages_it.properties
/build/resources/main/messages_sv.properties
/build/classes/main/ru/qilnet/UrlMappings.class
/build/resources/main/messages_nb.properties
/build/resources/main/logback.groovy
/build/resources/main/messages_th.properties
/build/classes/test/ru/qilnet/sf/UserSpec.class
/build/reports/tests/index.html
/build/reports/tests/js/report.js
/build/resources/main/messages_da.properties
/build/test-results/binary/integrationTest/output.bin
/build/test-results/TEST-ru.qilnet.sf.UserIntegrationSpec.xml
/build/resources/main/messages_ru.properties
/build/resources/main/messages_pt_BR.properties
/build/resources/main/notFound.gsp
/build/test-results/binary/integrationTest/output.bin.idx
/.gradle/2.9/taskArtifacts/cache.properties.lock
/.gradle/2.9/taskArtifacts/outputFileStates.bin
/.gradle/2.9/taskArtifacts/taskArtifacts.bin
/.gradle/2.9/taskArtifacts/fileSnapshots.bin
/.gradle/2.9/taskArtifacts/fileHashes.bin
/.gradle/2.9/taskArtifacts/cache.properties
/build/classes/main/ru/qilnet/sf/User.class
/build/classes/main/ru/qilnet/sf/User$__clinit__closure2.class
/build/classes/integrationTest/ru/qilnet/sf/UserIntegrationSpec$_setup_closure1.class
/build/classes/main/ru/qilnet/Application.class
/build/classes/main/BootStrap.class
/build/classes/main/ru/qilnet/ApplicationLoader.class
/build/classes/main/BootStrap$_closure1.class
/build/classes/main/ru/qilnet/sf/Profile$__clinit__closure1.class
/build/classes/integrationTest/ru/qilnet/sf/UserIntegrationSpec$_cleanup_closure2.class
/build/classes/main/ru/qilnet/sf/Profile.class
/build/classes/main/BootStrap$_closure2.class
/build/classes/integrationTest/ru/qilnet/sf/UserIntegrationSpec.class
/build/classes/main/ru/qilnet/sf/User$__clinit__closure1$_closure3.class
/build/classes/main/ru/qilnet/sf/User$__clinit__closure1.class
/build/classes/integrationTest/ru/qilnet/sf/UserIntegrationSpec$__spock_feature_0_0_closure3.class